<div class="body">
  <div class="container-fluid p-0 ">
    <div class="backyard">
      <!-- <img class="bg-img img-fluid responsive " src="assets/images/bg-1img.jpg" style="height: 600px; ">  -->
      <h2 class="centered">
        See what kinds of product we grow at our farms…
      </h2>
    </div>

  </div>
  <div aria-label="breadcrumb re">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Products</a></li>

    </ol>
  </div>
</div>


<section>
  <h4 class="section-subtitle">
    The Drop
  </h4>
  <h2 class="section-title">
    Best Selling Products
  </h2>

  <h1 class="title"> Grapes</h1>


  <div class="bestSelling-beers">

    <div class="bs-card">
      <div class="bs-card-img" id="bs-img-1"></div>

      <div class="bs-card-body">
        <div class="bs-card-header">
          <a href="#" class="bs-card-title">Black Grapes</a>
        </div>
        <!-- <div class="bs-beer-data">
              <span class="bs-card-brewery para-font">Kona Brewing Co. </span>
             
            </div> -->
        <!-- <div class="bs-beer-footer">
              <span class="price">
                $8.50
              </span>
              <span class="bs-card-btn">
                ORDER
              </span>
            </div> -->
      </div>
    </div>
    <div class="bs-card">
      <div class="bs-card-img" id="bs-img-2"></div>
      <div class="bs-card-body">
        <div class="bs-card-header">
          <a href="#" class="bs-card-title">Green Grapes</a>
        </div>
        <!-- <div class="bs-beer-data">
              <span class="bs-card-brewery para-font">Kona Brewing Co. </span>
             
            </div> -->
        <!-- <div class="bs-beer-footer">
              <span class="price">
                $8.50
              </span>
              <span class="bs-card-btn">
                ORDER
              </span>
            </div> -->
      </div>
    </div>
    <div class="bs-card">
      <div class="bs-card-img" id="bs-img-3"></div>
      <div class="bs-card-body">
        <div class="bs-card-header">
          <a href="#" class="bs-card-title">Red Grapes</a>
        </div>
        <!-- <div class="bs-beer-data">
              <span class="bs-card-brewery para-font">Kona Brewing Co. </span>
           
            </div> -->
        <!-- <div class="bs-beer-footer">
              <span class="price">
                $8.50
              </span>
              <span class="bs-card-btn">
                ORDER
              </span>
            </div> -->
      </div>
    </div>
  </div>
  <!-- title -->

</section>
<!--            PRODUTS           -->
<div class="product">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="icon">
        <img class="gif1"
          src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07368d66-d6bd-4655-a2cd-e4caf10da3e6/d9do7uc-82a5c909-122c-4cde-8420-8e849be0e1fb.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3MzY4ZDY2LWQ2YmQtNDY1NS1hMmNkLWU0Y2FmMTBkYTNlNlwvZDlkbzd1Yy04MmE1YzkwOS0xMjJjLTRjZGUtODQyMC04ZTg0OWJlMGUxZmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ANLIHw9AuNVYPf1dDpwer_6p23MIMfh1d6KwHZ4h85k">
      </div>
      <div class="icon-header">
        <h3>Natural feed</h3>
      </div>
      <div class="icon-body">
        <p> We use the best feeds with essential nutrients to raise the best Grapes.
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-sm-12">
      <div class="icon">
        <img class="gif" src="https://www.animatedimages.org/data/media/1184/animated-farm-image-0037.gif">
      </div>
      <div class="icon-header">
        <h3>Own fields</h3>
      </div>
      <div class="icon-body">
        <p>We use our own farm fields for grazing grapes to give them more fresh air and space.</p>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-sm-12">
      <div class="icon">

        <img class="gif"
          src="https://media0.giphy.com/media/7qDiIDH0EUXl4g6XLT/giphy.gif?cid=6c09b952d870efa18f1616c505368f9a0795882726b4967c&rid=giphy.gif&ct=s">

      </div>
      <div class="icon-header">
        <h3>Modern farm</h3>
      </div>
      <div class="icon-body">
        <p>Our farm uses the latest incubation and feeding technologies to raise the best grapes in the state.</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="icon">
        <img class="gif" src="assets/images/organic.gif">

      </div>
      <div class="icon-header">
        <h3>100% Organic</h3>
      </div>
      <div class="icon-body">
        <p>We adhere to the organic philosophy, which implies the usage of natural feed for our grapes..</p>
      </div>
    </div>
  </div>
</div>
<!-- <div aria-label="breadcrumb re">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home-></a></li>
    <li class="breadcrumb-item"><a href="#">Products</a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> 
  </ol>
</div> -->